* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#background {
    width: 100%;
    height: 100%;
    background-color: #ECAEBA;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 95%;
    height: 90%;
    display: flex;
    box-shadow: 0px 0px 15px #0000006c;
}

.nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    overflow: hidden;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

.nav {
    height: 100%;
    width: 10%;
}

.nav>i {
    font-size: 18px;
}

.maindiv {
    height: 100%;
    width: 90%;
}

.sidepart {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    transform-origin: 100% 0;
    transform: rotate(-90deg);
    position: absolute;
    right: 60px;
    top: 16%;
    font-size: 10px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

.line {
    margin-left: 20px;
    width: 1px;
    height: 100px;
    background: rgb(211, 208, 208);
}

.nav i {
    margin-left: 20px;
    font-size: 18px;
}

.main {
    width: 60%;
    height: 90%;
    padding: 20px;
}

.right {
    width: 30%;
    height: 90%;
    padding-left: 40px;
    margin-top: 0px;
}

.main h1 {
    padding-top: 20px;
    font-size: 40px;
    letter-spacing: 6px;
}

.right #color {
    color: rgb(158, 158, 158);
}

.right h3 {
    font-weight: 800;
    font-size: 18px;
}

.img {
    height: 70%;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1533008093099-e2681382639a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80') bottom/cover no-repeat;
}

.img2 {
    height: 60%;
    width: 100%;
    position: relative;
    background: url('https://images.unsplash.com/photo-1551516595-09cb9fcf8db5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80') center/cover;
}

.footer {
    width: 90%;
    left: 10%;
    height: 15%;
    background: rgb(240, 238, 238);
    position: absolute;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer i {
    font-size: 30px;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    vertical-align: center;
    background: #000;
    color: #fff;
    padding: 10px;
    padding-left: 22px;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 22px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.right h1 {
    padding-top: 20px;
    font-size: 40px;
    color: rgb(221, 220, 220);
    padding-left: 30px;
    letter-spacing: 4px;
}

.overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.562);
    border: 1px solid #fff;
    width: 100px;
    height: 40px;
    top: 57.5%;
    left: 72.7%;
    display: flex;
    color: rgb(226, 226, 226);
    align-content: center;
    font-size: 18px;
    justify-content: space-evenly;
    padding: 10px;
}

.overlay i {
    font-size: 18px;
    color: rgb(155, 151, 151);
    font-weight: 800;
}

.info {
    width: 350px;
    font-size: 10px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    opacity: .5;
}

.footer p {
    font-size: 10px;
    font-weight: 700;
    opacity: .5;
}

.footer i {
    font-size: 20px;
    opacity: .5;
}

.footer h2 {
    font-size: 15px;
}

.footer a {
    text-decoration: none;
}

#menuoverlay {
    width: 100%;
    height: 100%;
    background: #f3ccd4;
    position: absolute;
    top: 0%;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    padding: 0px 20px 180px 20px;
    align-items: center;
    justify-content: space-evenly;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#menuoverlay>a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: 600;
    opacity: .5;
}

#menuoverlay>i {
    color: rgb (37, 37, 37);
}